streamlit
python-dotenv
langchain
langchain-community
langchain-openai
langchain-chroma
langchain-text-splitters
langchain-tavily
langchain-core
openai
chromadb
pypdf
python-docx
pandas
openpyxl
gdown
gspread
google-auth
google-auth-oauthlib
langchain-text-splitters
